* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

/* Set Background Color of webpage */
body {
    background-color: rgb(187, 216, 228);
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

header h1 {
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 34px;
    color:black;
    background-color: rgb(16, 160, 185);
    padding: 2px 20px;
}

nav {
    display: inline-flex;
}

/* Styling for nav class anchor tags */
nav a {
    color: rgb(16, 160, 185);
    padding-top: 19px;
    margin-right: 20px;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
}

/* Set hero image height and width. 
   Set display as flex and justify-
   content and align-items both to 
   flex-end to get subtitle in the
   bottom right corner.*/
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 26px;
    padding: 15px 35px;  
    background-image: url("../images/pexels-suzy-hazelwood-1629236.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  /* Subtitle class */
.sub_title {
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
    background-color: rgb(16, 160, 185);
}

/* Styling for Subtitle h2 tag */
.sub_title h2 {
    background-color: rgb(16, 160, 185);
    padding: 5px;
  }
  
/* Create a wrapper for main content  */
.wrapper {
    background-color: rgb(16, 160, 185);
    margin: 0 auto;
    border: 5px solid black;
}

/* Create id for worl content and set display to flex */
.wrapper #about_me {
    display: flex;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/* Create id for about me content and set display to flex */
.wrapper #work {
    display: flex;
    /* border-bottom: 3px solid black; */
}

.wrapper #contact {
    display: flex;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/* Styling for wrapper class h2 tag */
.wrapper h2 {
    display: flex;
    justify-content: flex-end;
    min-width: 30%;
    min-height: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    padding: 10px;
    line-height: 40px;
    color: lightsteelblue;
}

.wrapper h2 .me {
    display: flex;
    justify-content: flex-end;
}

/* Styling for wrapper class p tag */
.wrapper p {
    padding: 20px;
    font-size: 24px; 
    line-height: 24px;
    font-family: 'Times New Roman', Times, serif;
    border-left: 4px solid lightsteelblue;

}

.wrapper .image_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-left: 4px solid lightsteelblue;
}

.wrapper img {
    padding: 5px;
    margin: 10px;
    max-width: 50%;
    height: auto; 
    /* border: 5px solid lightsteelblue; */

}

/* styling for wrapper class unordered list */
.wrapper ul {
    width: 100%;
    display: inline-flex;
    list-style-type: none;
    justify-content: center;  
    font-size: 24px;
    border-left: 4px solid lightsteelblue;
}

/* give wrapper class unordered list items some padding */
.wrapper ul li {
    display: flex;
    align-items: center;
    padding: 20px;
}

.wrapper a {
    color: black;
    text-decoration: none;
    border-bottom: 4px solid lightsteelblue;
    
}

footer {
    background-color: black;
    margin: 10px;
}




