
/* set to border-box */
* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

/* Set Background Color of webpage */
body {
    background-color: rgb(214, 230, 238); 
}

/* header styling, set as flex */
header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(16, 9, 46);
    color: #ffffff;
}

/* h1 styling for header */
header h1 {
    display: flex;
    flex-shrink: 2;
    flex-wrap: wrap;
    margin-left: 3%;
    font-size: 46px;
    padding-top: 15px;
    color: white;
}

/* nav styling for header */
header nav {
    display: flex;
    flex-shrink: 1;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 18px;
    margin-right: 3%;
}

/* Styling for nav class anchor tags */
nav a {
    color: white;
    padding-top: 25px;
    margin-right: 20px;
}

/* Set hero image height and width. 
   Set display as flex and justify-
   content and align-items both to 
   flex-end to get subtitle in the
   bottom right corner.*/
.hero {
    min-height: 200px;
    width: auto;    
    margin-bottom: 25px;
    padding: 15px 35px;  
    background-image: url("../images/grafiti.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  /* Subtitle class */
.sub_title {
    display: flex;
    flex-shrink: 2; 
    margin-right: 9%;
}

/* Styling for Subtitle h2 tag */
.sub_title h2 {
    padding: 5px;
    font-size: 34px;
    color: rgb(202, 22, 88)
  }
  
/* Create a wrapper for main content  */
.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* Create id for worl content and set display to flex */
.wrapper #about_me {
    display: flex;
    border-bottom: 3px solid black;
}

/* Create id for about me content and set display to flex */
.wrapper #work {
    display: flex;
}

.wrapper #contact {
    display: flex;
    border-top: 3px solid black;
}

/* Styling for wrapper class h2 tag */
.wrapper h2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    padding: 10px;
    min-width: 26%;
    line-height: 40px;
    color: rgb(160, 29, 29);
}

/* set h2 tag for contact_header to no border */
.wrapper h2 .contact_header {
    border: none;
}

/* style individual text in h2 heading *
.wrapper h2 .me {
    display: flex;
    justify-content: flex-end;
}

/* Styling for wrapper class p tag */
#about_me p {
    padding: 20px;
    font-size: 26px; 
    line-height: 36px;
    font-family: 'Times New Roman', Times, serif;
    border-left: 4px solid rgb(91, 150, 228);

}

/* vreate image container for work show images */
#work .image_container {
    flex-wrap: wrap;
    border-left: 4px solid rgb(91, 150, 228);
}

/* split image conainter into 2 sections, fist work and secondary work below */
.image_container .first_work {
    padding: 5px;
    margin: 10px;
} 

/* styling for anchor tags in first_work */
.first_work a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(17, 35, 196);
    margin-bottom: -10px; 
    padding-bottom: 20px;
    text-decoration: none;
}

/* styling for images in first_work */
.first_work img {
    padding: 5px;
    margin: 5px;
    height: auto;
    max-width: 100%; 
}

/* styling for h4 tags in first_work */
.first_work h4 {
    padding: 10px;
    background-color:black;
    color: white;
    width: max-content;
    font-size: 18px;
    text-align: center;
}


/* secondary work image conatiner */
.image_container .secondary_work {
    padding: 5px;
    margin: 10px;
}

/* styling for anchor tags in secondary_work */
.secondary_work a {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    border-bottom: 1px solid rgb(17, 35, 196);
    margin-bottom: 10px; 
    padding-bottom: 20px;
    text-decoration: none;
}

/* styling for image tags in secondary_work */
.secondary_work img {
    padding: 5px;
    margin: 5px;
    max-width:85%;
    height: auto; 
}

/* styling for h4 tags in secondary_work */
.secondary_work h4 {
    padding: 10px;
    background-color:black;
    color: white;
    min-width: 35px;
    font-size: 18px;
    text-align: center;
}

/* create container for contact info */
#contact .contact_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 4px solid rgb(91, 150, 228);  
}

/* styling for wrapper class unordered list */
.contact_container ul {  
    display: flex;  
    list-style-type: none;
    font-size: 24px;
}

/* give wrapper class unordered list items some padding */
.contact_container ul li {
    display: flex;
    align-items: center;
    padding: 20px;
}

/* styling for unordered list anchor tags */
.contact ul a {
    color: black;
    text-decoration: underline;
}

/* date-descr for phone and email */
span[data-descr] {
    position: relative;
    cursor: grab;
  }

/* styling for phone and email bubble pop up */  
span[data-descr]:hover::after,
span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0px;
    bottom: 24px;
    min-width: 125px;
    border: 1px lightgrey solid;
    background-color: darkcyan;
    padding: 12px;
    color: white;
    font-size: 80%;
    z-index: 1;
}

/* styling for footer */
  footer {
    width: auto;
    min-height: 100px;
    margin-top: 25px;
    padding: 5px;
    background-color: rgb(16, 9, 46);
}

/* footer h2 tag styling  */
footer h2 {
    height: fit-content;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

footer a {
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

/* media queries and mobile break points */
@media only screen and (max-width: 600px) {
    /* set header to clex-wrap and center content */
     header {
        flex-wrap: wrap;
        justify-content: center;
    } 

    /* move nav items to the right with neg margin */
    header nav {
        margin-right: -5%;
    }

    /* set hero image to 100 pixels */
    .hero img {
        max-height: 100px;
    }

    /* set sub_title to space-between */
    .sub_title {
        justify-content: space-between;
    }

    /* set h2 margin-right and change font-size */
    .sub_title h2 {
        margin-right: -20px;
        font-size: 20px;
    }

    /* set about me conatiner to flex-wrap and center content */
    .wrapper #about_me {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /* set about me conatiner to flex-wrap and center content */
    .wrapper #work {
        flex-wrap: wrap;
        justify-content: center;
    }
   
    /* set about me conatiner to flex-wrap and center content */
    .wrapper #contact {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* remove border on about p tag */
    #about_me p {
        font-size: 18px;
        border: none;
        text-align: center;
    }

    /* center content */
    .wrapper h2 .me {
        justify-content: center;
    }

    /* remove border on image container */
    #work .image_container {
        border: none;
    }

    /* remove border and set to flex-wrap */
    #contact .contact_container {
        width: auto;
        flex-wrap: wrap;
        border: none;
    }

    /* change max-width to 70 percent */
    .secondary_work img {
        max-width: 70%;
    }

    /* set font size to 24 pixels */
    .contact_container ul {
        font-size: 24px;
    }

    /* set padding to 10 pixels */
    .contact_container ul li {
        padding: 10px;
    }

    footer a {
        font-size: 14px;   
    }
}
